$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#canvas {
  display: none;
}

#video {
  filter: grayscale(100%);

  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#photo {
  filter: grayscale(100%);
}

#story-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.container {
  margin: 0;
  padding: 0;
}

// Hide output
.output {
  display: none;
}

// show ouput for print
@media print {
  .output {
    display: block;
  }

  // hide video
  #video, #story-mask {
    display: none;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page1 {
  background: url('../images/UIPage1.png');
  background-size: cover;
}

.page2 {
  background: #e74455;

  .bobines {
    padding-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.page4 {
  background: url('../images/UIPage4.png');
  background-size: cover;
}