<!-- User inteface -->
<div class="preview">
    <!-- webcam flow -->
    <div class="camera">
        <video id="video">Video stream not available.</video>
    </div>

    <!-- mask -->
    <img ng-src="{{ webcamphoto.story.maskSrc }}" id="story-mask">

    <!-- page title -->
    <img ng-src="{{ webcamphoto.story.titleSrc }}" class="story-title">

    <!-- user commands -->
    <a ng-href="#/story-selector" class="user-button">
        <img src="images/FlecheBack.png" alt="" />
    </a>
    <a href="" class="user-button" style="margin-left: 50%;" ng-click="webcamphoto.print()">
        <img src="images/BoutonCheck.png" alt="" />
    </a>
</div>

<!-- always hidden -->
<canvas id="canvas"></canvas>
<img ng-src="{{ webcamphoto.story.fiche }}" id="story-fiche">

<!-- Card to print -->
<div class="output">
    <img id="photo">
</div>