<div class="page page2">
	<img src="images/bobine-title.png" alt="Choisis ta bobine" class="title" />
	
	<div class="container">
		<div class="bobines row">
			<div class="col-md-4">
				<a ng-href="#/webcam-photo/0" class="bobine1">
					<img src="images/bobine1.jpg" alt="" />
				</a>
			</div>
			<div class="col-md-4">
				<a ng-href="#/webcam-photo/1" class="bobine2">
					<img src="images/bobine2.jpg" alt="" />
				</a>
			</div>
			<div class="col-md-4">
				<a ng-href="#/webcam-photo/2" class="bobine3">
					<img src="images/bobine3.jpg" alt="" />
				</a>	
			</div>
		</div>
		<div class="bobines row">
			<div class="col-md-offset-2 col-md-4">
				<a ng-href="#/webcam-photo/3" class="bobine4">
					<img src="images/bobine4.jpg" alt="" />
					
				</a>
			</div>
			<div class="col-md-4">
				<a ng-href="#/webcam-photo/4" class="bobine5">
					<img src="images/bobine5.jpg" alt="" />
					
				</a>
			</div>
		</div>
	</div>
</div>